<html>
<body>
	<div class="profile_info_container">
		<h1><%= clicked_user.fname + " " + clicked_user.lname%></h1>
		<h2><%= clicked_user.username%></h2>
		<p> <%= clicked_user.profile.bio%></p>
		<p> <%= clicked_user.fname + " is " + current_user.profile.age%></p>
		<p> <%= clicked_user.profile.location%></p>
	</div>
	<div class="profile_posts_container">
			<% clicked_user.posts.each do |post| %>
					<p><%=post.content%></p>
			<%end%>
	</div>
</body>
</html>