<html>
<body>
	<button class="edit_profile_button">Edit Profile</button>
	<div class="profile_info_container">
		<h1><%= current_user.fname + " " + current_user.lname%></h1>
		<h2><%= current_user.username%></h2>
		<p> <%= current_user.profile.bio%></p>
		<p> <%= current_user.fname + " is " + current_user.profile.age%></p>
		<p> <%= current_user.profile.location%></p>
	</div>
	<div class="profile_posts_container">
			<% current_user.posts.each do |post| %>
					<p><%=post.content%></p>
			<%end%>
	</div>
	<div class="edit_profile_form">
		<form action="/edit_settings" method="POST">
			<input class="settings_input" type="text" name="fname" placeholder="first name" value="<%= @current_user.fname %>">
			<input class="settings_input" type="text" name="lname" placeholder="last name" value="<%= @current_user.lname %>">
			<input class="settings_input" type="text" name="email" placeholder="email address" value="<%= @current_user.email %>">
			<textarea class="settings_input" type="text" name="bio"placeholder="bio"><%= @current_user.profile.bio %></textarea>
			<input class="settings_input" type="text" name="age" value="<%= @current_user.profile.age %>"placeholder="age">
			<input class="settings_input" type="text" name="location" value="<%= @current_user.profile.location %>"placeholder="location">
			<input type="submit">
		</form>
	</div>
</body>
</html>

